body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.header {
    width: 100%;
    position: fixed;
    top: 30px;
    z-index: 10;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.nav {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    background-color: #313030;
    text-transform: uppercase;
    line-height: 90px;
}

.nav-list {
    display: flex;
    justify-content: center;
}

/* .nav-list__item {
    position: relative;
} */

.nav-list__item_name {
    text-decoration: none;
    color: #d4d4d4;
    margin: 0 57px;
}

.nav-list__item:hover {
    display: flex;
    justify-content: center;
    content: "";
    width: 90px;
    border-radius: 0;
    height: 90px;
    margin: 0 57px;
    background-color: #ff3f40;
    transition: all 0.2s ease;
}

.home-section {
    position: relative;
    height: 100vh;
    background-color: #f6f2f2;
}

.home-section__cont {
    padding-top: 230px;
}

.home-section__h1 {
    text-transform: uppercase;
    font-size: 60px;
}

.home-section__h3 {
    padding: 35px 0 0 0;
    color: #bebbbb;
}

.home-section__button {
    margin: 65px 0 0 0;
}

.home-section__a {
    text-decoration: none;
}

.home-section__btn {
    display: flex;
    height: 55px;
    background-color: #ff2d2d;
    color: #fff;
    text-align: center;
    font-size: 19px;
    padding: 0 63px 0 63px;
    line-height: 55px;
    border-radius: 7px;
    border: none;
}
