body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.header {
    width: 100%;
    position: fixed;
    top: 30px;
    z-index: 10;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.nav {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    background-color: #313030;
    text-transform: uppercase;
    line-height: 90px;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list__item {
    margin: 0 57px 0 0;
    width: 90px;
    height: 90px;
    text-align: center;
    cursor: pointer;
}

.nav-list__item_name {
    text-decoration: none;
    color: #d4d4d4;
}

.nav-list__item:hover {
    content: "";
    background-color: #ff3f40;
    transition: all 0.2s ease;
}

.home-section {
    position: relative;
    height: 100vh;
    background-color: #f6f2f2;
}

.home-section__cont,
.services-cont {
    padding-top: 230px;
    display: flex;
    justify-content: space-between;
}

.home-section__h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
}

.home-section__h3 {
    padding: 35px 0 0 0;
    line-height: 1.5em;
    color: #555454;
}

.home-section__button,
.services-cont__button {
    display: inline-block;
    margin: 65px 0 0 0;
}

.home-section__link,
.services-cont__link {
    text-decoration: none;
}

.home-section__btn,
.services-cont__btn {
    display: block;
    height: 55px;
    background-color: #ff2d2d;
    color: #fff;
    text-align: center;
    font-size: 19px;
    padding: 0 63px 0 63px;
    line-height: 55px;
    border: 2px;
    border-radius: 7px;
    border: #f6f2f2 2px solid;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-section__btn:hover,
.services-cont__btn:hover,
.contact-link-btn:hover {
    content: "";
    background-color: #fff;
    height: 55px;
    color: #ff2d2d;
    border: #ff2d2d 2px solid;
    box-sizing: none;
}

.contact-link-btn:hover {
    height: 100%;
}

.home-section__clip {
    width: 550px;
    height: 360px;
    background-color: #c4c0b1;
    box-shadow: 0 5px 25px rgb(130, 128, 128);
}

.home-section__video {
    width: 100%;
    height: 100%;
}

.services-cont {
    padding-top: 115px;
}

.services-cont__offer_h2,
.products-offer_h2 {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 600;
    color: #555454;
}

.services-cont__offer_h3 {
    padding: 35px 0 0 0;
    line-height: 1.5em;
    color: #000;
}

.services-cont__items {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-cont__item {
    width: 270px;
    margin-top: 49px;
}

.services-cont__item_box {
    padding-bottom: 27px;
}

.services-cont__item_h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24px;
    color: #4c4c4c;
}

.span {
    text-transform: uppercase;
}

.services-cont__item_p,
.products-offer_p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    padding-top: 20px;
    color: #7c7c7c;
}

.services-line {
    padding-top: 110px;
    width: 100%;
    border-bottom: 2px solid #c7c5c5;
}

.products-content {
    padding-top: 110px;
}

.products-offer {
    text-align: center;
    line-height: 3em;
}

.products-line {
    margin: 0 auto;
    padding: 10px;
    width: 15%;
    border-bottom: 4px solid #ff2d2d;
}

.products-nav {
    padding-top: 90px;
}

.products-nav__list_items {
    display: flex;
    justify-content: center;
}

.products-nav__list_item {
    margin: 0 59px 0 0;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.products-nav__list_item_name {
    text-decoration: none;
    color: #4c4c4c;
}

.products-nav__list_item_name:hover {
    content: "";
    color: #ff3f40;
    transition: all 0.2s ease;
}

.products-gallery {
    padding: 68px 0 100px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-gallery__block {
    padding-top: 20px;
    width: 290px;
    height: 290px;
    overflow: hidden;
}

.about {
    padding-top: 140px;
}

.about-heading_h2 {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    color: #333333;
}

.about-heading_p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    padding-top: 20px;
    color: #7c7c7c;
}

.about-heading_line {
    padding: 10px;
    width: 15%;
    border-bottom: 4px solid #ff2d2d;
}

.team {
    display: flex;
    padding-top: 80px;
}

.team-img {
    width: 48%;
}

.team-img__block {
    width: 320px;
    height: 460px;
}

.team-img__block_item {
    max-width: 320px;
}

.team-desc_heading {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}

.team-desc_title {
    font-size: 16px;
    color: #636262;
    padding-bottom: 30px;
}

.soc-list {
    display: flex;
}

.soc-list_item {
    margin-right: 30px;
    padding-bottom: 30px;
}

.soc-list_item a {
    text-decoration: none;
    color: rgb(109, 108, 108);
}

.soc-list_item a:hover {
    transition: all 0.3s ease;
    color: #ff3f40;
}

.team-gallery {
    width: 48%;
}

.team-glerry__block {
    width: 195px;
    height: 215px;
    display: flex;
}

.team-glerry__block_items {
    position: relative;
    width: 195px;
    height: 215px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
}

.team-glerry__block_item {
    max-width: 195px;
    object-fit: cover;
    z-index: 1;
}

.team-glerry__block_item:hover {
    max-width: 195px;
    object-fit: cover;
    transition: all 0.3s all;
    opacity: 0.9;
    z-index: 0;
}

.team-glerry__block_items h5 {
    position: absolute;
    background-color: rgb(97, 96, 96);
    color: white;
    font-size: 18px;
    top: 80%;
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 200%;
    z-index: 0;
}

.contact {
    padding-top: 100px;
}

.contact-cont {
    padding: 140px 300px;
    background: url("/assets/media/img/13.jpg") no-repeat center;
}

.contact-heading {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
}

.contact-text {
    color: #fff;
    font-size: 16px;
    padding: 35px 0 60px 150px;
}

.contact-form {
    padding-left: 200px;
}

.contact-mail {
    border: none;
    height: 35px;
    width: 300px;
    border-radius: 7px;
    padding: 15px;
}

.contact-link-btn {
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    border: 2px transparent solid;
    border-radius: 7px;
    background-color: #ff2d2d;
    font-size: 17.9px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
