body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.header {
    width: 100%;
    position: fixed;
    top: 30px;
    z-index: 10;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.nav {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    background-color: #313030;
    text-transform: uppercase;
    line-height: 90px;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list__item {
    margin: 0 57px;
    width: 90px;
    height: 90px;
    text-align: center;
    cursor: pointer;
}

.nav-list__item_name {
    text-decoration: none;
    color: #d4d4d4;
}

.nav-list__item:hover {
    content: "";
    background-color: #ff3f40;
    transition: all 0.2s ease;
}

.home-section {
    position: relative;
    height: 100vh;
    background-color: #f6f2f2;
}

.home-section__cont {
    padding-top: 230px;
    display: flex;
    justify-content: space-between;
}

.home-section__h1 {
    text-transform: uppercase;
    font-size: 60px;
}

.home-section__h3 {
    padding: 35px 0 0 0;
    line-height: 1.5em;
    color: #555454;
}

.home-section__button {
    display: inline-block;
    margin: 65px 0 0 0;
}

.home-section__link {
    text-decoration: none;
}

.home-section__btn {
    display: flex;
    height: 55px;
    background-color: #ff2d2d;
    color: #fff;
    text-align: center;
    font-size: 19px;
    padding: 0 63px 0 63px;
    line-height: 55px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.home-section__btn:hover {
    content: "";
    background-color: #a92323;
    transition: all 0.3s ease;
}

.home-section__clip {
    width: 550px;
    height: 360px;
    background-color: #c4c0b1;
    box-shadow: 0 5px 25px rgb(130, 128, 128);
}

.home-section__video {
    width: 100%;
    height: 100%;
}